<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <h1>Hello World!!</h1>

    <p><%=homeContent%></p>

    <div class="post">
        <h1><%=posts[0].postTitle%></h1> 
        <p><%=posts[0].postContent %></p>
    </div>

    <%- include("./partials/footer.ejs")  %> 
</body>
</html>