<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <h1>Hello World!!</h1>

    <p><%=homeContent%></p>

    <% posts.forEach(element=>{ %>

        <div class="post">
            <h1><%=element.postTitle %></h1>
            <p><%=element.postContent.substring(0, 100) %> ... <a id="readMore" href="/post/<%=element.postTitle%>" >read more</a></p>
        </div>

   <% }) %> 


    <%- include("./partials/footer.ejs")  %> 
</body>
</html>